<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo1:war">
    <output-path>$PROJECT_DIR$/SpringMVCDemo1/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo1-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo1:war exploded" />
    </root>
  </artifact>
</component>